<!-- END MAIN ARTICLE & SECTION -->
</article>
</section>

            </div><!--/.large-12 columns -->
          </div><!-- /.primary row -->

</div><!-- /.contents -->
<!-- END CONTENTS -->


<!-- FOOTER -->

<aside class="cta">
	<div class="row">
		<div class="columns small-12">
			<ul class="inline-list cta-actions">
				<li class="cta-action"><a href="http://www.calvin.edu/apply/" title="Apply to Calvin">Apply</a></li>
				<li class="cta-action"><a href="http://www.calvin.edu/visit/" title="Visit Campus">Visit</a></li>
				<li class="cta-action"><a href="http://www.calvin.edu/start/" title="Request Information">Info</a></li>aa
			</ul>
		</div>
	</div>
</aside>


<aside class="sights-n-sounds">

    <a href="http://social.calvin.edu/" class="drawer-handle" id="load-result" onclick="_gaq.push(['_trackEvent', 'Footer', 'Toggle', 'RebelMouse']);">
        <div id="drawer" class="row">
            <h5 class="columns small-12 text-center"><b class="medium-text"></b>Sights &amp; Sounds<span></span></h5>
        </div>
    </a>
    <figure class="drawer-panel">
      <!-- For testing, AJAX loads the iFrame contents into #results from uranium.calvin.edu/test/sights-n-sounds.html - Otherwise, load the iFrame from www.calvin.edu/social/media.html -->

    <div id="result"></div>

    </figure>

</aside>





<footer id="footer">

    <div class="row gutter">

        <div class="footer-address large-7 medium-8 small-12 columns">

                <div class="large-3 medium-3 hide-for-small columns">

                    <img src="//www.calvin.edu/images/nameplate-calvin-seal-footer.gif" alt="My Heart I Offer To You Lord, Promptly and Sincerely" id="the-seal" title="My Heart I Offer To You Lord, Promptly and Sincerely" />

                </div>

                

                <div class="large-9 medium-9 small-12 columns">

                    <ul class="vcard">

                        <li class="fn"><a href="/">Calvin College</a></li>

                        <li class="street-address">3201 Burton SE, <span class="locality">Grand Rapids,</span> <span class="state">Michigan</span>, <span class="zip">49546</span></li>

                        <li><span class="tel"><a href="tel:616-526-6000">(616) 526-6000</a></span> | <a href="tel:1-800-688-0122">1-800-688-0122</a> | <span class="email"><a href="mailto:info@calvin.edu">info@calvin.edu</a></span></li>

                    </ul>

                    <p><a href="http://www.calvin.edu/hr/">Jobs</a>&nbsp;|&nbsp;<a href="http://www.calvin.edu/legal/copyright">&copy; 2013 Calvin College</a></p>

                </div>

        </div><!-- /.large-7 -->

        

        <div class="large-5 medium-5 small-12 columns">

                <ul class="socialnetwork inline-list">

                        <li class="socialnetwork-channel"><a href="http://www.facebook.com/calvincollege" class="facebook has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Join us on Facebook" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Facebook']);"><i class="fi-social-facebook"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://twitter.com/calvincollege" class="twitter has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Follow @CalvinCollege on Twitter" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Twitter']);"><i class="fi-social-twitter"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://www.linkedin.com/groups?gid=1449847" class="linkedin has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Join us on LinkedIn" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'LinkedIn']);"><i class="fi-social-linkedin"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://www.vimeo.com/calvincollege" class="vimeo has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Watch us on Vimeo" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Vimeo']);"><i class="fi-social-vimeo"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://www.youtube.com/CalvinCollege" class="youtube has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Watch us on YouTube" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Youtube']);"><i class="fi-social-youtube"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://pinterest.com/calvincollege/" class="pinterest has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Pin with us on Pinterest" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Pinterest']);"><i class="fi-social-pinterest"></i></a></li>

                        <li class="socialnetwork-channel"><a href="http://instagram.com/calvincollege/" class="instagram has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="See us on Instagram" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Instagram']);"><i class="fi-social-instagram"></i></a></li>

                        <li class="socialnetwork-channel"><a href="#" title="Send your snaps to @calvinknights" class="has-tip tip-top" data-tooltip data-options="disable-for-touch:true"><i class="fi-social-snapchat"></i></a></li>

                        <li class="socialnetwork-channel"><a href="//www.calvin.edu/social/" class="has-tip tip-top" data-tooltip data-options="disable-for-touch:true" title="Browse all"  onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'SocialDirectory']);"><i class="fi-arrow-right"></i></a></li>

                  </ul>

        </div><!-- /.columns -->

    </div><!-- /.row -->

</footer>



<!-- Back to top -->

<a href="#header" class="go-top" title="Back to top"><i class="fi-arrow-up"></i></a>



<!-- END Off-Canvas -->

<a class="exit-off-canvas"></a>

</div><!-- /.inner-wrap -->

</div><!-- /.off-canvas-wrap -->



<!-- GLOBAL DROP-DOWN MENUS -->

<!-- Sign in-->

<ul id="signin-more" class="f-dropdown" data-dropdown-content>

	<li><a href="http://www.calvin.edu/parents/"><i class="fi-torsos"></i> Students</a></li>

    <li><a href="http://www.calvin.edu/parents/"><i class="fi-torsos"></i> Parents</a></li>

    <li><a href="http://www.calvin.edu/alumni/"><i class="fi-torsos"></i> Alumni</a></li>

    <li><a href="http://www.calvin.edu/resource/faculty.htm"><i class="fi-torsos"></i> Faculty &amp; Staff</a></li>

    <li><a href="http://www.calvin.edu/admissions/admits/"><i class="fi-torsos"></i> Admitted Students</a></li>

    <li><a href="http://www.calvin.edu/go/studentmail" title="Password protected">StudentMail</a></li>

    <li><a href="http://www.calvin.edu/go/webmail"  title="Password protected">Outlook</a></li>

    <li><a href="http://moodle.calvin.edu/"  title="Password protected">Moodle</a></li>

    <li><a href="http://portal.calvin.edu/"  title="Password protected">Portal</a></li>

</ul>



<!-- Search-->

<ul id="search-more" class="f-dropdown" data-dropdown-content>

    <li><a href="/dept/" title="A-Z Index"><i class="fi-list"></i> A-Z</a></li>

    <li><a href="/people/" title="People"><i class="fi-address-book"></i> People</a></li>

    <li><a href="/calendar/" title="Calendar"><i class="fi-calendar"></i> Calendar</a></li>

    <li><a href="/map/" title="Maps"><i class="fi-marker"></i> Maps</a></li>

</ul>



<!-- One: About -->

<ul id="drop1" data-dropdown-content class="f-dropdown">

	  <li><a href="/about/">Overview</a></li>

      <li><a href="/about/identity.html">Our Identity</a></li>

      <li><a href="/about/mission.html">Our Mission</a></li>

      <li><a href="/about/shalom.html">Our Calling</a></li>

      <li><a href="/about/history.html">History</a></li>

      <li><a href="/about/john-calvin/">John Calvin</a></li>

      <li><a href="/about/the-seal.html">The Calvin Seal</a></li>

      <li><a href="/about/administration/">Administration</a></li>

      <li><a href="/about/contact.html">Contact Us</a></li>

      <li><a href="http://www.crcna.org/">Church&nbsp;&raquo;</a></li>

</ul>



<!-- Two: Academics -->

    <ul id="drop2" data-dropdown-content class="f-dropdown">

      <li><a href="/academics/">Overview</a></li>

      <li><a href="/academics/majors-minors/">Majors &amp; Programs</a></li>

      <li><a href="/academics/departments/">Departments</a></li>

      <li><a href="/academics/faculty/">Faculty</a></li>

      <li><a href="/academics/opportunities/">Learning Opportunities</a></li>

      <li><a href="/academics/global/">Global Connections</a></li>

      <li><a href="/academics/student-services/">Student Services</a></li>

      <li><a href="/academics/reputation/">Academic Reputation</a></li>

      <li><a href="/academics/centers-institutes/">Centers &amp; Institutes</a></li>

      <li><a href="http://library.calvin.edu/">Hekman Library&nbsp;&raquo;</a></li>

    </ul>



<!-- Three: Admissions & Aid -->

	<ul id="drop3" data-dropdown-content class="f-dropdown">

      <li><a href="/admissions/">Overview</a></li>

      <li><a href="http://www.calvin.edu/cgi-bin/std_form.pl?f=admissions">Request Information</a></li>

      <li><a href="/admissions/visit/">Visit</a></li>

      <li><a href="/admissions/apply/">Apply</a></li>

      <li><a href="/finaid/">Financial Aid</a></li>

      <li><a href="/admissions/transfers/">Transfers</a></li>

      <li><a href="/admissions/intl/">Internationals</a></li>

      <li><a href="/admissions/admits/">Admitted Students</a></li>

      <li><a href="/admissions/profile.html">Quick Facts</a></li>

      <li><a href="/admissions/contact-us.html">Contact Us</a></li>

      <li><a href="/verge/">VERGE Magazine&nbsp;&raquo;</a></li>

    </ul>

  

<!-- Four: Student Life -->

    <ul id="drop4" data-dropdown-content class="f-dropdown">

      <li><a href="http://upbeat.calvin.edu/student-life/">Overview</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/faith-worship/"> Faith &amp; Worship</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/residence-life/">Residence Life</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/dining/">Dining</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/opportunities/">Student Opportunities</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/health-safety/">Health &amp; Safety</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/service-learning/">Service-Learning</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/multicultural-international/">Multicultural &amp; International Students</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/careers-outcomes/">Careers &amp; Outcomes</a></li>

      <li><a href="http://upbeat.calvin.edu/student-life/grand-rapids/">Life in Grand Rapids, MI</a></li>

    </ul>

  

<!-- Five: Arts -->

    <ul id="drop5" data-dropdown-content class="f-dropdown">

      <li><a href="/arts/">Overview</a></li>

      <li><a href="/arts/">Venues</a></li>

      <li><a href="/arts/">Exhibits</a></li>

      <li><a href="/arts/">Performances</a></li>

      <li><a href="/arts/">Why Liberal Arts?</a></li>

      <li><a href="/arts/">Tickets</a></li>

    </ul>



<!-- Six: Athletics -->

    <ul id="drop6" data-dropdown-content class="f-dropdown">

      <li><a href="http://www.calvinknights.com/">CalvinKnights.com</a></li>

    </ul>





<!-- FOUNDATION JAVASCRIPT -->

<!-- Calvin customization and scripts -->
<script src="{{root}}assets/js/app.js"></script>


<!-- jQuery Giving Banner Ad Cookie Script -->
<!-- <script type="text/javascript" src="//www.calvin.edu/global/js/banner/banner.js"></script> -->

<!-- jQuery UI Date & Time Picker -->
<script src="//www.calvin.edu/global/js/jquery/datepicker/jquery-ui-1.10.3.custom.min.js"></script> 
<script src="//www.calvin.edu/global/js/jquery/datepicker/jquery-ui-timepicker-addon.js"></script> 

<!-- jQuery UI .datepicker -->
<script>  

(function() {  
	var elemdate = document.createElement('input');  //Create a new input field
    elemdate.setAttribute('type', 'date'); //Set it as a date type
    if ( elemdate.type == 'text' ) {  //Does the browser change it back to a text type?
    	$('.datepicker').datepicker(); //If so, run non-HTML5 option on all .datepicker inputs
	}
})();

</script>

<!-- Owl Carousel 2.0.0beta2.4 -->
<!-- PRODUCTION -->
<script type="text/javascript" src="//www.calvin.edu/global/js/jquery/carousel/owl.carousel.min.js"></script>
<script type="text/javascript">

   $(window).load(function(){ // Prevent Owl's stage height from collapsing: GitHub #251

     $('.owl-carousel').owlCarousel({

	   // autoplay:true,

       // autoplayHoverPause:true,

       items:1,

       margin:1,

       loop:true,

       autoHeight:true, //Set autoHeight to false for cover pages to fix the bug in Safari

       video:true,

       nav:true,

	   lazyLoad: true,

       navText:['&#8249;','&#8250;']

     });

   });

</script>
